@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Story+Script&family=Playfair+Display:wght@400;700&display=swap');

@import "tailwindcss";

/* /* @theme {
   --color-primary: #2563eb; 
  --color-secondary: #fbbf24; 
} */

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Custom font class */
.font-playfair {
  font-family: "Playfair Display", serif !important;
}

/* Tailwind theme extension (ONLY works inside tailwind.config.js) */
